[% DEFAULT style="pf/js/calendar/calendar-tas.css" %]
<style type="text/css">@import url($home/$style);</style>
<script src="$home/pf/js/calendar/calendar.js"></script>
<script src="$home/pf/js/calendar/lang/calendar-[% lang %].js"></script>
<script src="$home/pf/js/calendar/calendar-setup.js"></script>
