[% META title="Server admin"
%]

[% PROCESS menu.tt %]

<p>[% step +%]
[%+ go("Reload server", "$home/", "server_reload") +%]
[%+ go("Restart server", "$home/", "server_restart") +%]
[%+ go("Terminate server", "$home/", "server_terminate") %]
</p>
