/*** Some standard paraframe styles ***/
[% css = cfg.css %]

*
{
  font-family: Verdana, Arial, helvetica, san-serif;
}

body
{
  background: $css.body_background;
  margin-right: 1.0em;
  margin-left: 1.0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h1,h2,h3,h4,h5
{
  margin: 0em 0em 0.5em 0em;
}

p
{
  margin: 0em;
}

h1
{
  clear: left;
}

.paraframe_menu_top
{
  background: $css.body_background;
}

.paraframe_menu_bottom
{
  background: $css.main_background;
}

.paraframe_menu_bottom_pf
{
  background: $css.body_background;
  border: 0.2em solid $css.border;
}

input
{
  background: $css.button;
  border-color: $css.border;
  border-width: 0.2em;
}

.paraframe_menu_top p
{
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  padding: 0.2em;
}

.paraframe_main 
{
  background: $css.main_background;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-width: 0.2em 0.2em 0em 0.2em;
  border-color: $css.border;
}

.paraframe_main p
{
  margin-bottom: 0.5em;
}

form
{
	margin-bottom: 0em; /* Konqueror */
}

.same_place
{
  background: #ffffff;
}

.paraframe_pagelist
{
  font-weight: bold;
}

.paraframe_pagelist .same_place
{
  background: inherit;
}

.paraframe_pagelist .selected
{
  font-weight: bold;
  background: none;
}

.paraframe_previous, .paraframe_next
{
  text-decoration: none;
}

.debug
{
  background: $css.main_background;
  padding: 1em;
  border-style: dotted;
  border-width: 0.0em 0.2em 0.2em 0.2em;
  border-color: $css.border;
}

.paraframe_info
{
  font-weight: bold;
  font-family:  verdana, Arial, helvetica, san-serif;
  font-size: 10pt;
}

tr.even
{
  background: #E0E0E0;
}

tr.odd
{
  background: #D0D0D0;
}

.paraframe_box
{
  border-style: outset;
}

.paraframe_box table
{
  border-style: inset;
}

/***********************************************/

.paraframe_menu_bottom_pf a
{
    color: black;
    border-width: 0.2em;
    border-color: $css.border;
    border-style: outset;
    background: $css.button;
    padding: 1px 6px 1px 6px;
    text-decoration: none;
}
.paraframe_menu_bottom_pf a:hover
{
    background-color: lightyellow;
    color: black;
}
.paraframe_menu_bottom_pf a:active:hover
{
  padding: 0px 5px 0px 7px;
  border-style: inset;
}

/**************************************************/


label:hover+input,
label:hover+br+input,
label:hover,
input:hover,
label:hover+textarea,
label:hover+br+textarea
{
  background-color: lightyellow;
  color: black;
}
