/*** Some standard paraframe styles ***/
[% import(site.css.params) %]

[% debug("BODY background is $body_background") %]

*
{
  font-family: Verdana, Arial, helvetica, san-serif;
}

body
{
  background: $body_background;
  margin-right: 1.0em;
  margin-left: 1.0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h1,h2,h3,h4,h5
{
  margin: 0em 0em 0.5em 0em;
}

p
{
  margin: 0em;
}

h1
{
  clear: left;
}

input
{
  background: $button;
  border-color: $border;
  border-width: 0.2em;
}
