[%
	a = result.info.alternatives;
%]

<h1>[% a.title | html %]</h1>

<p>[% result.find('alternatives').message | html | html_para %]</p>

<table>
[% FOREACH part = a.list %]
   [% tr2 %]<td>[% a.rowformat(part) %]</tr>
[% END %]
</table>

[% view = a.view %]
[% DEFAULT view = me %]
[% DEFAULT href_class='msg' %]
<p>[% go('Backa', home, 'skip_step', href_class=href_class) +%]
[%+ go('Hoppa över', undef, 'skip_step&skip_step', href_class=href_class) %]
