[% FOREACH part IN req.result.error_parts;
      IF part.prefix_message;
%]       <pre class="paraframe_error_prefix">[% part.prefix_message | html %]</pre>
[%    END;
      box(part);
   END
%]

[%  FOREACH part IN req.result.info_parts; %]
      <pre class="paraframe_info">[% part.message | html %]</pre>
[% END %]
