<div class="paraframe_menu_top">
<img style="float: left" src="$home/pf/images/logo/pf-150x95.png" alt="ParaFrame">
<p style="float: right">
[% IF u.level %]
[ [% u.name %] 
| [% jump('Sign out', site.logout_page, run='user_logout') %] 
]
[% ELSE %]
   [% jump('Sign in', "login.tt") %] 
[% END %]
</p>

<p><em><a href="http://frame.para.se/">Paraframe</a> version $cfg.version
- port $cfg.port</em>
- Request [% req.id +%]
</p>
</div>

