<p style="float: right">
[% IF u.level %]
[ [% u.name %] 
| [% jump('Sign out', site.logout_page, run='user_logout') %] 
]
[% ELSE %]
   [% jump('Sign in', "login.tt") %] 
[% END %]
</p>

<p><em><a href="http://frame.para.se/">Paraframe</a> version $cfg.version
- port $cfg.port</em>
- Request [% reqnum +%]
</p>

