<html>
  <head>
    [% DEFAULT otitle = title %]
    <title>[* PROCESS title.tt *]</title>
    [*+ css_header(css) *]
    [* IF favicon *]<link rel="shortcut icon" href="[* favicon *]" type="image/x-icon" />[* END *]
    [* IF description *]<meta name="description" content="[* description | html *]">[* END *]
    [* IF keywords *]<meta name="keywords" content="[* keywords | html *]">[* END +*]
    <meta name="robots" content="[* IF no_robots_index;'no';END *]index,[* IF no_robots_follow;'no';END *]follow">

    [* PROCESS header_extra.tt *]

    [* PROCESS js.tt *]
  </head>

  <body [* onload *][* IF body_class *] class="[* body_class *]"[* END *]>

[* PROCESS border_top.tt *]
