AddHandler None css
AddHandler None js

AddType application/x-javascript .js
AddType text/css .css

AddType text/xml .xml

## Making sure not to render js files
#PerlSetVar site ignore

# Multiviews will not work with dirs like fck_link if there is a file
# in the same place with the name fck_link.html
Options -MultiViews

#EOF

AddHandler perl-script js_tt
AddType application/x-javascript .js_tt
